body {
  font-family: 'VT323', monospace;
  background-color: #4A4A4A;
}

#labelTitle {
  color: white;
  font-size: 3em;
  display: block;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

#labelSubTitle {
  color: white;
  font-size: 1.6em;
  display: block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#textDescription {
  color: white;
  display: block;
  text-align: center;
}

.choice {
  display: block;
  text-align: center;
}

#button1, #button2 {
  font-family: monospace;
  display: inline;
  margin: 12px;
}

.refresh {
  display: block;
  text-align: center;
  margin-bottom: 40px;
}

#button3 {
  font-family: monospace;
}
