/* FOR LAPTOPS, DESKTOPS */

body{
  background-color: cyan;
}

@media all and (min-width:800px) and (max-width:1200px){
  body{
    background-color:orange;
  }
}


/* FOR MOBILE */

@media all and (min-width:800px) and (orientation:portrait){
  body{
    background-color:yellow;
  }
}
/*Source for different devices http://cssmediaqueries.com/target/*/

@media all and (max-device-width:800px) and (orientation:lamdscape){
  body{
    background-color:blue;
  }
}
/* seems to be a difference between Android and iOS, device-width and device-height changes with orientation*/
