* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  background: #fff;
  font-family: Avenir;
  font-size: 62.5%;
}

/* //////////////////////////////////// - nav - /////////////////////////////////////// */

.nav {}

/* /////// - logo - ///////// */

#logo {
  display: block;
  text-align: center;
}

#logo img {
  margin-top: 60px;
  width: 84px;
  height: auto;
}

/* /////// - gallery_icon - ///////// */

#gallery_icon1 {
  position: absolute;
  right: 160px;
  top: 94px;

  width: 32px;
  height: auto;
}


#gallery_icon img:hover{
  transition: all .5s cubic-bezier(0.76, -0.03, 0.46, 1.05);
  -webkit-transition: all .5s cubic-bezier(0.76, -0.03, 0.46, 1.05);
   transform: rotate(20deg);
   -webkit-transform: rotate(20deg);

}

#gallery_icon img:active{
  transition: all .2s cubic-bezier(0.76, -0.03, 0.46, 1.05);
  -webkit-transition: all .2s cubic-bezier(0.76, -0.03, 0.46, 1.05);

}


/* /////// - back_icon - ///////// */
#back_icon {
  position: absolute;
  left: 160px;
  top: 84px;

  width: auto;
  height: 26px;
}

#back_icon a img:active{
  transition: all .2s cubic-bezier(0.76, -0.03, 0.46, 1.05);
  -webkit-transition: all .2s cubic-bezier(0.76, -0.03, 0.46, 1.05);
   transform: scale(0.1);
   -webkit-transform: scale(0.1);

}

/* //////////////////////////////////// - canvas - /////////////////////////////////////// */

.container{
  display: block;
  margin-top:160px;

}
.radical{
  margin-left: 10px;
  margin-right: 10px;
  width: 300px;
  height: 260px;
  overflow: hidden;
  display: inline-block;
}
.radical figure {
  z-index: 99;
  position: absolute;
  width: 180px;
  height: 180px;
  visibility: visible;
  display: block;
  transform: rotate(45deg) translate3d(-50%, -50%, 0);
  transform-origin: 0 0;
  transition: all .5s cubic-bezier(.455, .03, .515, .955);

  border-radius: 50%;
  overflow: hidden;
  /* background-image: url(../img/water.png);
  background-size: cover;
  background-repeat:no-repeat; */

  box-shadow: 0px 0px 10px rgba(0, 0, 0, .08);
  filter: grayscale(100%);
}

.radical figure:hover{
  z-index: 9;
  display: block;
  position: absolute;
  border-radius: 6px;
  transform: scale(.75) translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform-origin: 0 0;
  transition: all .5s cubic-bezier(.455, .03, .515, .955);

  visibility: visible;
  transition-timing-function: cubic-bezier(1, 0, 0, 1);

  filter: grayscale(0%);

  background-color: #fff;
}

.radical div {
  position: relative;
}

.radical span img{
    position: relative;
    height: 54px;
    left: 100px;
    top:40px;
    z-index: -9;
    display: block;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    opacity: 0;
}
figure:hover+span img{
  left: -20px;
  opacity: 1;
  z-index: 99999;
  transform: rotate(-45deg);
}

.radical-img img{
  z-index: 999;
  width: 180px;
  height: auto;
}
@media screen and (max-width: 1500px){
  .container{
  margin-left: 24%;

  }

}

@media screen and (min-width: 1500px){
  .container{
  margin-left: 28%;

  }

}
